<div class="container">

  <div class="row mt-4 mb-4">
    <div class="card col-md-8 p-3">
      <div class="col-md-12">
        <div class="">
          <label>Hãy chọn yêu cầu: </label>
          <select class="form-control col-md-5" [(ngModel)]="sttLuat">
            <option value="5">Xét Tuyển Học Bạ</option>
            <option value="6">Thi Tuyển </option>
            
          </select>
         
        </div>
        <br>

        <h5>Bạn cần điền một số thông tin để tra cứu:</h5>
        <div>
            <div >CMND:</div>
          <div ><input class="form-control col-md-4" type="text" placeholder="Nhập CMND" [(ngModel)]="cmnd"></div>
        </div>
        <label>Hãy chọn khoa bạn muốn nộp hồ sơ:</label>
        <select class="form-control col-md-4" id="dsKhoa" [(ngModel)]="Khoa">
          <option value="" disabled selected>--Chọn khoa--</option>
          <option *ngFor="let item of dsKhoa" [value]="item.TenKhoa">{{item.TenKhoa}}</option>
        </select>
        <label>Hãy chọn khối xét tuyển: </label>
        <select class="form-control col-md-4" [(ngModel)]="Khoi" (change)="ChonKhoi()">
          <option value="" disabled selected>--Chọn Khối Xét Tuyển--</option>
          <option value="A">Khối A</option>
          <option value="B">Khối B</option>
          <option value="C">Khối C</option>
          <option value="D">Khối D</option>
        </select>
        <div class="row" *ngIf="FormDiem">
          <div class="md-form input-group col-4">
            <div class="input-group-prepend" id="basic-addon1">
              <span class="input-group-text" id="basic-addon1" [(ngModel)]="Mon1">{{Mon1}}</span>
            </div>
            <input type="number"  min="0" max="10" [(ngModel)]="d1" class="form-control" placeholder="Nhập điểm" aria-describedby="basic-addon1">
          </div>
          <div class="md-form input-group col-4">
            <div class="input-group-prepend" id="basic-addon1">
              <span class="input-group-text" id="basic-addon1"  [(ngModel)]="Mon2">{{Mon2}}</span>
            </div>
            <input type="number" min="0" max="10" [(ngModel)]="d2" class="form-control" placeholder="Nhập điểm" aria-describedby="basic-addon1">
          </div>
          <div class="md-form input-group col-4">
            <div class="input-group-prepend" id="basic-addon1">
              <span class="input-group-text" id="basic-addon1"  [(ngModel)]="Mon3">{{Mon3}}</span>
              
            </div>
            <input type="number" min="0" max="10" [(ngModel)]="d3" class="form-control" placeholder="Nhập điểm" aria-describedby="basic-addon1">
          </div>
        </div>
        
        <button mdbBtn type="button" color="info" rounded="true" style="border-radius: 999px" class="waves-light float-right"
          mdbWavesEffect (click)="getRulesXetTuyen()">Tra cứu</button>

      </div>
    </div>
    <div class="col-md-4">
      <circle-progress
      [percent]="85"
  [animation]="true"
  [animationDuration]="300"
  [backgroundColor] = "'#F1F1F1'"
      [backgroundOpacity] = 0
      [backgroundStrokeWidth] = 5
      [backgroundPadding] = 24
      [radius] = "86"
      [space] = 2
      [toFixed] = 0
      [outerStrokeWidth] = "11"
      [outerStrokeColor] = "'#FF6347'"
      [innerStrokeColor] = "'#32CD32'"
      [innerStrokeWidth] = "3"
      [titleFontSize] = "17"
      [subtitleColor] = "'#ffffff'"
      [imageHeight] = 133
      [showSubtitle] = "false"
      [responsive] = "true"
      [startFromZero] = "false"
      ></circle-progress>     
    </div>
  </div>
  <div class="row"  *ngIf="listHidden">
    <div class="col-md-12">
      <table mdbTable hover="true">
        <thead>
          <tr>
            <th style="width: 10%">#</th>
            <th style="width: 25%">X</th>
            <th style="width: 25%">Y</th>
            <th style="width: 15%">Tỷ lệ chính xác</th>
           
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of data">
            <th scope="row">{{el.Id}}</th>
            <td>{{el.X}}</td>
            <td>{{el.Y}}</td>
            <td>{{el.Confidence}}</td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning m-2" role="alert" *ngIf="alertHidden">
    Xin lỗi! Thông tin chúng tôi không đủ để gợi ý cho bạn! Hãy chắn chắn bạn đã nhập đủ thông tin.
  </div>
</div>

