<div class="row m-3">
    <div class="col-md-4">
      <mdb-card>
        <mdb-card-header class="primary-color white-text">
          <h4>Phân tích khu vực</h4>
        </mdb-card-header>
        <mdb-card-body>
          <label>Xem phân tích: </label>
          <select class="form-control" [(ngModel)]="xemLuatStt" >           
            <option value="7">Học sinh khu vực X thường có hình thức xét tuyển Y</option>
            <option value="8">Học sinh khu vực X thường đăng ký học ngành Y</option>
          </select>
          <br>
          <button mdbBtn type="button" color="info" rounded="true" style="border-radius: 999px" class="waves-light float-right"
            mdbWavesEffect (click)="xemluat()">Xem</button>
  
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-8">
      <mdb-card>
        <mdb-card-header class="primary-color white-text">
          <h4>Danh sách kết quả</h4>
        </mdb-card-header>
        <mdb-card-body>
          <table mdbTable hover="true">
            <thead>
              <tr>
                <th style="width: 10%">#</th>
                <th style="width: 25%">X</th>
                <th style="width: 25%">Y</th>
                <th style="width: 15%">Tỷ lệ chính xác</th>
                <th style="width: 20%">Chức năng</th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of data">
                <th scope="row">{{el.Id}}</th>
                <td>{{el.X}}</td>
                <td>{{el.Y}}</td>
                <td>{{el.Confidence}}</td>
                <td><button mdbBtn type="button" color="success" rounded="true" style="border-radius: 100px" class="waves-light"
                    mdbWavesEffect>Xóa</button></td>
              </tr>
            </tbody>
          </table>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  